body {
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    margin: 3cm;
}
body#contacto {
    background-color: #e0f7fa;
    color: rgb(22, 26, 24);
    line-height: 1.6;
    margin: 5cm;
    text-align: center;
    display: flex;
}

article#contactoarticle {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
header {
    background-color: #1a2a6c; 
    color: white;
    padding: 2rem;
    text-align: center;
    border-bottom: 5px solid #f2a900; 
}

footer {
    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 1.5rem;
    margin-top: 20px;
    font-size: 0.9rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-left: 1cm;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    color: #1a2a6c;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s; 
    border-radius: 5px;
    margin-left: 0.5cm;
}


nav ul li a:hover {
    background-color: #6c1a61;
    color: white;
    padding-left: 20px; 
}
.contenedor-
main, .contenedor-principal { 
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
}

aside {
    flex: 1; 
    min-width: 250px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

article {
    flex: 3; 
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    main, .contenedor-principal {
        flex-direction: column;
    }
    
    aside, article {
        width: 100%;
    }
}
